/* IMPORT */
@font-face {
    font-family: "Salsa";
    src: url('/src/assets/fonts/Salsa-Regular.ttf');
}

iframe {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 800px;
    border: 0;
}

p {
    font-size: 20px;
    font-family: "Salsa", "Courier New", Courier, monospace;
}

.footer-text {
    display: flex;
    justify-content: center;
}